<aside id="aside" class="aside aside-left" data-fuse-bar="aside" data-fuse-bar-media-step="md" data-fuse-bar-position="left">
    <div class="aside-content-wrapper">

        <div class="aside-content bg-primary-700 text-auto">

            <div class="aside-toolbar">

                <div class="logo">
                    <span class="logo-icon">C</span>
                    <span class="logo-text">CANDY</span>
                </div>

                <button id="toggle-fold-aside-button" type="button" class="btn btn-icon d-none d-lg-block" data-fuse-aside-toggle-fold>
                    <i class="icon icon-backburger"></i>
                </button>

            </div>

            <ul class="nav flex-column custom-scrollbar" id="sidenav" data-children=".nav-item">

                <li class="subheader">
                    <span>APPS</span>
                </li>

                <li class="nav-item" role="tab" id="heading-dashboards">

                    <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-dashboards" href="#" aria-expanded="false" aria-controls="collapse-dashboards">

                        <i class="icon s-4 icon-tile-four"></i>

                        <span>Dashboards</span>
                    </a>
                    <ul id="collapse-dashboards" class='collapse ' role="tabpanel" aria-labelledby="heading-dashboards" data-children=".nav-item">

                        <li class="nav-item">
                            <a class="nav-link ripple " href="{% url 'dashboard' %}" data-url="user-interface-page-layouts-blank.html">

                                <span>Project Dashboard</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="apps-dashboards-server.html" data-url="user-interface-page-layouts-blank.html">

                                <span>Server</span>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item" role="tab" id="heading-ecommerce">

                    <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-ecommerce" href="#" aria-expanded="false" aria-controls="collapse-ecommerce">

                        <i class="icon s-4 icon-cart"></i>

                        <span>Bank Account</span>
                    </a>
                    <ul id="collapse-ecommerce" class='collapse ' role="tabpanel" aria-labelledby="heading-ecommerce" data-children=".nav-item">

                        <li class="nav-item">
                            <a class="nav-link ripple " href="apps-e-commerce-products.html" data-url="user-interface-page-layouts-blank.html">

                                <span>List Of Bank accounts</span>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item" role="tab" id="heading-digital-assets">

                    <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-digital-assets" href="#" aria-expanded="false" aria-controls="collapse-digital-assets">

                        <i class="icon s-4 icon-cart"></i>

                        <span>Digital Assets Desk</span>
                    </a>
                    <ul id="collapse-digital-assets" class='collapse ' role="tabpanel" aria-labelledby="heading-digital-assets" data-children=".nav-item">

                        <li class="nav-item">
                            <a class="nav-link ripple " href="apps-e-commerce-products.html" data-url="user-interface-page-layouts-blank.html">

                                <span>Configurations</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ripple " href="apps-e-commerce-products.html" data-url="user-interface-page-layouts-blank.html">

                                <span>Bank account setup for digital assets</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ripple " href="apps-e-commerce-products.html" data-url="user-interface-page-layouts-blank.html">

                                <span>Bye sell engine</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ripple " href="apps-e-commerce-products.html" data-url="user-interface-page-layouts-blank.html">

                                <span>Balance</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ripple " href="apps-e-commerce-products.html" data-url="user-interface-page-layouts-blank.html">

                                <span>Withdraw digital balance</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ripple " href="apps-e-commerce-products.html" data-url="user-interface-page-layouts-blank.html">

                                <span>Bye Report</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ripple " href="apps-e-commerce-products.html" data-url="user-interface-page-layouts-blank.html">

                                <span>Sell Report</span>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item" role="tab" id="heading-bond-desk">

                    <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-bond-desk" href="#" aria-expanded="false" aria-controls="collapse-bond-desk">

                        <i class="icon s-4 icon-cart"></i>

                        <span>Bond Desk</span>
                    </a>
                    <ul id="collapse-bond-desk" class='collapse ' role="tabpanel" aria-labelledby="heading-bond-desk" data-children=".nav-item">

                        <li class="nav-item">
                            <a class="nav-link ripple " href="apps-e-commerce-products.html" data-url="user-interface-page-layouts-blank.html">

                                <span>Interneal Exchange (Bonds For sale)</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="apps-e-commerce-products.html" data-url="user-interface-page-layouts-blank.html">

                                <span>My Bonds Listed For sale</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="apps-e-commerce-products.html" data-url="user-interface-page-layouts-blank.html">

                                <span>My Bonds Internal Account</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="apps-e-commerce-products.html" data-url="user-interface-page-layouts-blank.html">

                                <span>Euroclear Account</span>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item" role="tab" id="heading-marketing">

                    <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-marketing" href="#" aria-expanded="false" aria-controls="collapse-marketing">

                        <i class="icon s-4 icon-cart"></i>

                        <span>Marketing</span>
                    </a>
                    <ul id="collapse-marketing" class='collapse ' role="tabpanel" aria-labelledby="heading-marketing" data-children=".nav-item">

                        <li class="nav-item">
                            <a class="nav-link ripple " href="apps-e-commerce-products.html" data-url="user-interface-page-layouts-blank.html">

                                <span>Referral Links</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ripple " href="apps-e-commerce-products.html" data-url="user-interface-page-layouts-blank.html">

                                <span>Referral Lists</span>
                            </a>
                        </li>

                    </ul>
                </li>



                

                {% if not request.user.is_authenticated %}
                <li class="subheader">
                    <span>PAGES</span>
                </li>

                <a class="nav-link ripple " href="/users/login/">

                    <span>Login</span>
                </a>
                {% endif %}
             
            </ul>
        </div>
    </div>
</aside>