{% extends "layouts/base.html" %}
{% load static %}

{% block body %}
    <main>
        <div id="wrapper">            

            <div class="content-wrapper">

                <div class="content custom-scrollbar">

                    <div class="page-layout blank p-6">

                        <h2>Books home page!</h2>
                        <hr/>
                        <p>token:</p>
                        <p>{{ token }}</p>
                        <p>uid</p>
                        <p>{{ uid }}</p>

                    </div>

                </div>
            </div>
            

        </div>
    </main>
{% endblock body %}