<div class="card">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <form method='post'>

            <div class="form-group">
                <input type="text" class="form-control" id="commission" aria-describedby="emailHelp"
                       placeholder="commission">
                <label for="exampleInputEmail1">Commission</label>
                
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
        
    </div>
</div>

