{% extends "mlm/layouts/base.html" %}
{% load static %}

{% block pagestyle %}{% endblock pagestyle %}


{% block mlm_page_header_app_title_text %}
    <div class="logo-text">
        <div class="h4">Buddy list for following code</div>
        <div class="">{{ code }}</div>
    </div>
{% endblock mlm_page_header_app_title_text %}


{% block mlm_page_content %}

    <div class="page-content p-6">


        {% include 'mlm/partials/referral-buddy-list-table.html' %}

    </div>

{% endblock mlm_page_content %}