{% extends "layouts/base.html" %}
{% load static %}

{% block stylesheets %}
<style type="text/css">
    
</style>

{% endblock stylesheets %}

{% block body %}

<div id="login" class="p-8">

    <div class="form-wrapper md-elevation-8 p-8">
        
        <div class="title mt-4 mb-8 back">Logout page...!</div>

        <form name="logoutForm" novalidate>

            <button type="submit" class="submit-button btn btn-block btn-secondary my-4 mx-auto" aria-label="LOG OUT">
                LOG OUT
            </button>

        </form>

    </div>

</div>

{% endblock body %}