{% extends "bond/layouts/base-bond.html" %}
{% load static %}


{% block pagestyle %}
{% endblock pagestyle %}

{% block bond-page-content-toolbar %}
<!-- CONTENT TOOLBAR -->
<div class="toolbar p-6">Bond List</div>
<!-- / CONTENT TOOLBAR -->
{% endblock bond-page-content-toolbar %}

{% block bond-page-content %}

        <!-- DEMO CONTENT -->
        {% include 'bond/includes/bond-page-content.html' %}
        <!-- / DEMO CONTENT -->

{% endblock bond-page-content %}

{% block pagescript %}
{% endblock pagescript %}