<table id="e-commerce-orders-table" class="table dataTable">

    <thead>

        <tr>

            <th>
                <div class="table-header">
                    <span>ID</span>
                </div>
            </th>

            <th>
                <div class="table-header">
                    <span>Referral Code</span>
                </div>
            </th>

            <th>
                <div class="table-header">
                    <span>Buddies</span>
                </div>
            </th>

            <th>
                <div class="table-header">
                    <span>Earnings</span>
                </div>
            </th>

            <th>
                <div class="table-header">
                    <span>Commission (%)</span>
                </div>
            </th>

            <th>
                <div class="table-header">
                    <span>Signup Rate</span>
                </div>
            </th>

            <th>
                <div class="table-header">
                    <span>Status</span>
                </div>
            </th>

            <th>
                <div class="table-header">
                    <span class="column-title">Message</span>
                    
                </div>
            </th>


            <th>
                <div class="table-header">
                    <span class="column-title">Actions</span>
                </div>
            </th>

        </tr>

    </thead>



    <tbody>

        <tr>
            <td>1</td>
            <td>
                <a href="{% url 'mlm:link-detail' %}" class="btn btn-outline-info">70d4d7d0
                   
                </a>
            </td>
            <td>
                <a class="nav-item" href="#">
                    <span>435</span>
                    <i class="icon s-4 icon-eye-outline"></i>
                </a>
                             
            </td>
            <td>
                <span >$256</span>
            </td>
            <td>
                <span >5%</span>
            </td>
           
            <td>
                <span >24%</span>
            </td>
            
            <td>
                <span class='badge badge-success'>Active</span>
            </td>

            <td>
                               
                <button type="button" class="btn btn-sm btn-info btn-fab" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
                        <i class="icon icon-send"></i>
                </button>

            </td>
            
            <td>
                
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">View</a>
                        <a class="dropdown-item" href="#">Send message</a>
                        <a class="dropdown-item" href="#">Hold</a>
                    </div>
                </div>

            </td>

        </tr>
        
        <tr>
            <td>1</td>
            <td>
                <a href="{% url 'mlm:link-detail' %}" class="btn btn-outline-info">70d4d7d0
                   
                </a>
            </td>
            <td>
                <a class="nav-item" href="#">
                    <span>435</span>
                    <i class="icon s-4 icon-eye-outline"></i>
                </a>
                             
            </td>
            <td>
                <span >$256</span>
            </td>
            <td>
                <span >5%</span>
            </td>
           
            <td>
                <span >24%</span>
            </td>
            
            <td>
                <span class='badge badge-success'>Active</span>
            </td>

            <td>
                               
                <button type="button" class="btn btn-sm btn-info btn-fab" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
                        <i class="icon icon-send"></i>
                </button>

            </td>
            
            <td>
                
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">View</a>
                        <a class="dropdown-item" href="#">Send message</a>
                        <a class="dropdown-item" href="#">Hold</a>
                    </div>
                </div>

            </td>

        </tr>

        <tr>
            <td>1</td>
            <td>
                <a href="{% url 'mlm:link-detail' %}" class="btn btn-outline-info">70d4d7d0
                   
                </a>
            </td>
            <td>
                <a class="nav-item" href="#">
                    <span>435</span>
                    <i class="icon s-4 icon-eye-outline"></i>
                </a>
                             
            </td>
            <td>
                <span >$256</span>
            </td>
            <td>
                <span >5%</span>
            </td>
           
            <td>
                <span >24%</span>
            </td>
            
            <td>
                <span class='badge badge-success'>Active</span>
            </td>

            <td>
                               
                <button type="button" class="btn btn-sm btn-info btn-fab" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
                        <i class="icon icon-send"></i>
                </button>

            </td>
            
            <td>
                
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">View</a>
                        <a class="dropdown-item" href="#">Send message</a>
                        <a class="dropdown-item" href="#">Hold</a>
                    </div>
                </div>

            </td>

        </tr>

        <tr>
            <td>1</td>
            <td>
                <a href="{% url 'mlm:link-detail' %}" class="btn btn-outline-info">70d4d7d0
                   
                </a>
            </td>
            <td>
                <a class="nav-item" href="#">
                    <span>435</span>
                    <i class="icon s-4 icon-eye-outline"></i>
                </a>
                             
            </td>
            <td>
                <span >$256</span>
            </td>
            <td>
                <span >5%</span>
            </td>
           
            <td>
                <span >24%</span>
            </td>
            
            <td>
                <span class='badge badge-success'>Active</span>
            </td>

            <td>
                               
                <button type="button" class="btn btn-sm btn-info btn-fab" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
                        <i class="icon icon-send"></i>
                </button>

            </td>
            
            <td>
                
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">View</a>
                        <a class="dropdown-item" href="#">Send message</a>
                        <a class="dropdown-item" href="#">Hold</a>
                    </div>
                </div>

            </td>

        </tr>

        <tr>
            <td>1</td>
            <td>
                <a href="{% url 'mlm:link-detail' %}" class="btn btn-outline-info">70d4d7d0
                   
                </a>
            </td>
            <td>
                <a class="nav-item" href="#">
                    <span>435</span>
                    <i class="icon s-4 icon-eye-outline"></i>
                </a>
                             
            </td>
            <td>
                <span >$256</span>
            </td>
            <td>
                <span >5%</span>
            </td>
           
            <td>
                <span >24%</span>
            </td>
            
            <td>
                <span class='badge badge-success'>Active</span>
            </td>

            <td>
                               
                <button type="button" class="btn btn-sm btn-info btn-fab" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
                        <i class="icon icon-send"></i>
                </button>

            </td>
            
            <td>
                
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">View</a>
                        <a class="dropdown-item" href="#">Send message</a>
                        <a class="dropdown-item" href="#">Hold</a>
                    </div>
                </div>

            </td>

        </tr>

        <tr>
            <td>1</td>
            <td>
                <a href="{% url 'mlm:link-detail' %}" class="btn btn-outline-info">70d4d7d0
                   
                </a>
            </td>
            <td>
                <a class="nav-item" href="#">
                    <span>435</span>
                    <i class="icon s-4 icon-eye-outline"></i>
                </a>
                             
            </td>
            <td>
                <span >$256</span>
            </td>
            <td>
                <span >5%</span>
            </td>
           
            <td>
                <span >24%</span>
            </td>
            
            <td>
                <span class='badge badge-success'>Active</span>
            </td>

            <td>
                               
                <button type="button" class="btn btn-sm btn-info btn-fab" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
                        <i class="icon icon-send"></i>
                </button>

            </td>
            
            <td>
                
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">View</a>
                        <a class="dropdown-item" href="#">Send message</a>
                        <a class="dropdown-item" href="#">Hold</a>
                    </div>
                </div>

            </td>

        </tr>

        <tr>
            <td>1</td>
            <td>
                <a href="{% url 'mlm:link-detail' %}" class="btn btn-outline-info">70d4d7d0
                   
                </a>
            </td>
            <td>
                <a class="nav-item" href="#">
                    <span>435</span>
                    <i class="icon s-4 icon-eye-outline"></i>
                </a>
                             
            </td>
            <td>
                <span >$256</span>
            </td>
            <td>
                <span >5%</span>
            </td>
           
            <td>
                <span >24%</span>
            </td>
            
            <td>
                <span class='badge badge-success'>Active</span>
            </td>

            <td>
                               
                <button type="button" class="btn btn-sm btn-info btn-fab" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
                        <i class="icon icon-send"></i>
                </button>

            </td>
            
            <td>
                
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">View</a>
                        <a class="dropdown-item" href="#">Send message</a>
                        <a class="dropdown-item" href="#">Hold</a>
                    </div>
                </div>

            </td>

        </tr>
        
        
    </tbody>
    
</table>

