{% load static %}

<table id="" class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                ID
            </th>

            <th>
                Image
            </th>

            <th>
                Contacts
            </th>

            <th>
              Earnings
            </th>

            <th>
                Commission
            </th>


            <th>
                Send Message
            </th>

            <th>
                Status
            </th>

            <th>
                Action
            </th>
        </tr>
    </thead>

    <tbody>

         {% for buddy in object_list %}
        <tr>
            <td>{{ buddy.user.id }}</td>

            <td class='text-center'>
                <a href="{% url 'users:profile' pk=buddy.user.id %}" class="d-flex flex-column">
                    
                    <img class="rounded-circle mx-auto" width='60px' src="{{ buddy.user.candyuserprofile.avatar.url }}">
                    <span class="font-weight-bold my-2">{{ buddy.user.candyuserprofile.get_full_name }}</span>
                </a>
            </td>
            
            <td>
                <span class="d-flex mb-2">
                    <i class="icon icon-telegram"></i>
                   <span class="mx-2">@hello</span>
                </span>
                <span class="d-flex mb-2">
                    <i class="icon icon-skype "></i>
                    <span class="mx-2">rashid</span>                    
                </span>
                <span class="d-flex mb-2">
                    <i class="icon icon-phone"></i>
                    <span class="mx-2">+88087094237</span>                    
                </span>
            </td>

            <td>
                <span class="btn btn-outline-primary btn-fab btn-md">N/A</span>
            </td>

            <td>
                <span class="btn btn-outline-primary btn-fab btn-md">
                    {% if buddy.commission %}
                        {{ buddy.commission }}%
                    {% else %}
                        {{ buddy.referral_code.commission }}%
                    {% endif %}
                </span>
            </td>


            <td>
                <button type="button" class="btn btn-sm btn-info btn-fab" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
                    <i class="icon icon-send"></i>
                </button>
            </td>

            <td>
                <span class="badge badge-primary">Active</span>
            </td>

            <td>
                <button type="button" class="btn btn-icon" aria-label="Product details">
                    <i class="icon icon-pencil s-4"></i>
                </button>
            </td>

        </tr>

         {% empty %}

        <tr>
            <td colspan="8">
                No Referral code added yet..!
            </td>
        </tr>

        {% endfor %}


        
    </tbody>
</table>