{% load static %}

<table id="" class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                ID
            </th>

            <th>
                Image
            </th>

            <th>
                Contacts
            </th>

            <th>
              Earnings
            </th>

            <th>
                Commission
            </th>

            <th>
                Buddy List
            </th>

            <th>
                Send Message
            </th>

            <th>
                Status
            </th>

            <th>
                Action
            </th>
        </tr>
    </thead>

    <tbody>

        <tr>
            <td>1</td>
            <td class='text-center'>
                <a href="{% url 'users:profile' pk=request.user.id %}" class="d-flex flex-column">
                    
                        <img class="rounded-circle mx-auto" width='60px' src="{% static 'assets/images/avatars/Abbott.jpg' %}">
                        <span class="font-weight-bold my-2">Devid Haddad</span>
                    
                </a>
            </td>
            
            <td>
                <span class="d-flex mb-2">
                    <i class="icon icon-telegram"></i>
                   <span class="mx-2">@hello</span>
                </span>
                <span class="d-flex mb-2">
                    <i class="icon icon-skype "></i>
                    <span class="mx-2">rashid</span>                    
                </span>
                <span class="d-flex mb-2">
                    <i class="icon icon-phone"></i>
                    <span class="mx-2">+88087094237</span>                    
                </span>
            </td>
            <td>
                <span class="btn btn-outline-primary btn-fab btn-sm">14</span>
            </td>
            <td>
                <span class="btn btn-outline-primary btn-fab btn-sm">3%</span>
            </td>
            <td>
                <a href="" class="btn btn-outline-primary btn-fab btn-sm">
                    545
                </a>
            </td>
            <td>
                <button type="button" class="btn btn-sm btn-info btn-fab" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
                    <i class="icon icon-send"></i>
                </button>
            </td>
            <td>
                <span class="badge badge-primary">Active</span>
            </td>
            <td>
                <button type="button" class="btn btn-icon" aria-label="Product details">
                    <i class="icon icon-pencil s-4"></i>
                </button>
            </td>
        </tr>

        <tr>
            <td>2</td>
            <td class='text-center'>
                <a href="{% url 'users:profile' pk=request.user.id %}" class="d-flex flex-column">
                    
                        <img class="rounded-circle mx-auto" width='60px' src="{% static 'assets/images/avatars/3.jpg' %}">
                        <span class="font-weight-bold my-2">Devid Haddad</span>
                    
                </a>
            </td>
            
            <td>
                <span class="d-flex mb-2">
                    <i class="icon icon-telegram"></i>
                   <span class="mx-2">@hello</span>
                </span>
                <span class="d-flex mb-2">
                    <i class="icon icon-skype "></i>
                    <span class="mx-2">rashid</span>                    
                </span>
                <span class="d-flex mb-2">
                    <i class="icon icon-phone"></i>
                    <span class="mx-2">+88087094237</span>                    
                </span>
            </td>
            <td>
                <span class="btn btn-outline-primary btn-fab btn-sm">14</span>
            </td>
            <td>
                <span class="btn btn-outline-primary btn-fab btn-sm">3%</span>
            </td>
            <td>
                <a href="" class="btn btn-outline-primary btn-fab btn-sm">
                    545
                </a>
            </td>
            <td>
                <button type="button" class="btn btn-sm btn-info btn-fab" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
                    <i class="icon icon-send"></i>
                </button>
            </td>
            <td>
                <span class="badge badge-primary">Active</span>
            </td>
            <td>
                <button type="button" class="btn btn-icon" aria-label="Product details">
                    <i class="icon icon-pencil s-4"></i>
                </button>
            </td>
        </tr>

        <tr>
            <td>3</td>
            <td class='text-center'>
                <a href="{% url 'users:profile' pk=request.user.id %}" class="d-flex flex-column">
                    
                        <img class="rounded-circle mx-auto" width='60px' src="{% static 'assets/images/avatars/2.jpg' %}">
                        <span class="font-weight-bold my-2">Devid Haddad</span>
                    
                </a>
            </td>
            
            <td>
                <span class="d-flex mb-2">
                    <i class="icon icon-telegram"></i>
                   <span class="mx-2">@hello</span>
                </span>
                <span class="d-flex mb-2">
                    <i class="icon icon-skype "></i>
                    <span class="mx-2">rashid</span>                    
                </span>
                <span class="d-flex mb-2">
                    <i class="icon icon-phone"></i>
                    <span class="mx-2">+88087094237</span>                    
                </span>
            </td>
            <td>
                <span class="btn btn-outline-primary btn-fab btn-sm">14</span>
            </td>
            <td>
                <span class="btn btn-outline-primary btn-fab btn-sm">3%</span>
            </td>
            <td>
                <a href="" class="btn btn-outline-primary btn-fab btn-sm">
                    545
                </a>
            </td>
            <td>
                <button type="button" class="btn btn-sm btn-info btn-fab" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
                    <i class="icon icon-send"></i>
                </button>
            </td>
            <td>
                <span class="badge badge-primary">Active</span>
            </td>
            <td>
                <button type="button" class="btn btn-icon" aria-label="Product details">
                    <i class="icon icon-pencil s-4"></i>
                </button>
            </td>
        </tr>

        <tr>
            <td>4</td>
            <td class='text-center'>
                <a href="{% url 'users:profile' pk=request.user.id %}" class="d-flex flex-column">
                    
                        <img class="rounded-circle mx-auto" width='60px' src="{% static 'assets/images/avatars/4.jpg' %}">
                        <span class="font-weight-bold my-2">Devid Haddad</span>
                    
                </a>
            </td>
            
            <td>
                <span class="d-flex mb-2">
                    <i class="icon icon-telegram"></i>
                   <span class="mx-2">@hello</span>
                </span>
                <span class="d-flex mb-2">
                    <i class="icon icon-skype "></i>
                    <span class="mx-2">rashid</span>                    
                </span>
                <span class="d-flex mb-2">
                    <i class="icon icon-phone"></i>
                    <span class="mx-2">+88087094237</span>                    
                </span>
            </td>
            <td>
                <span class="btn btn-outline-primary btn-fab btn-sm">14</span>
            </td>
            <td>
                <span class="btn btn-outline-primary btn-fab btn-sm">3%</span>
            </td>
            <td>
                <a href="" class="btn btn-outline-primary btn-fab btn-sm">
                    545
                </a>
            </td>
            <td>
                <button type="button" class="btn btn-sm btn-info btn-fab" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
                    <i class="icon icon-send"></i>
                </button>
            </td>
            <td>
                <span class="badge badge-primary">Active</span>
            </td>
            <td>
                <button type="button" class="btn btn-icon" aria-label="Product details">
                    <i class="icon icon-pencil s-4"></i>
                </button>
            </td>
        </tr>

        <tr>
            <td>5</td>
            <td class='text-center'>
                <a href="{% url 'users:profile' pk=request.user.id %}" class="d-flex flex-column">
                    
                        <img class="rounded-circle mx-auto" width='60px' src="{% static 'assets/images/avatars/5.jpg' %}">
                        <span class="font-weight-bold my-2">Devid Haddad</span>
                    
                </a>
            </td>
            
            <td>
                <span class="d-flex mb-2">
                    <i class="icon icon-telegram"></i>
                   <span class="mx-2">@hello</span>
                </span>
                <span class="d-flex mb-2">
                    <i class="icon icon-skype "></i>
                    <span class="mx-2">rashid</span>                    
                </span>
                <span class="d-flex mb-2">
                    <i class="icon icon-phone"></i>
                    <span class="mx-2">+88087094237</span>                    
                </span>
            </td>
            <td>
                <span class="btn btn-outline-primary btn-fab btn-sm">14</span>
            </td>
            <td>
                <span class="btn btn-outline-primary btn-fab btn-sm">3%</span>
            </td>
            <td>
                <a href="" class="btn btn-outline-primary btn-fab btn-sm">
                    545
                </a>
            </td>
            <td>
                <button type="button" class="btn btn-sm btn-info btn-fab" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
                    <i class="icon icon-send"></i>
                </button>
            </td>
            <td>
                <span class="badge badge-primary">Active</span>
            </td>
            <td>
                <button type="button" class="btn btn-icon" aria-label="Product details">
                    <i class="icon icon-pencil s-4"></i>
                </button>
            </td>
        </tr>

        <tr>
            <td>6</td>
            <td class='text-center'>
                <a href="{% url 'users:profile' pk=request.user.id %}" class="d-flex flex-column">
                    
                        <img class="rounded-circle mx-auto" width='60px' src="{% static 'assets/images/avatars/6.jpg' %}">
                        <span class="font-weight-bold my-2">Devid Haddad</span>
                    
                </a>
            </td>
            
            <td>
                <span class="d-flex mb-2">
                    <i class="icon icon-telegram"></i>
                   <span class="mx-2">@hello</span>
                </span>
                <span class="d-flex mb-2">
                    <i class="icon icon-skype "></i>
                    <span class="mx-2">rashid</span>                    
                </span>
                <span class="d-flex mb-2">
                    <i class="icon icon-phone"></i>
                    <span class="mx-2">+88087094237</span>                    
                </span>
            </td>
            <td>
                <span class="btn btn-outline-primary btn-fab btn-sm">14</span>
            </td>
            <td>
                <span class="btn btn-outline-primary btn-fab btn-sm">3%</span>
            </td>
            <td>
                <a href="" class="btn btn-outline-primary btn-fab btn-sm">
                    545
                </a>
            </td>
            <td>
                <button type="button" class="btn btn-sm btn-info btn-fab" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
                    <i class="icon icon-send"></i>
                </button>
            </td>
            <td>
                <span class="badge badge-primary">Active</span>
            </td>
            <td>
                <button type="button" class="btn btn-icon" aria-label="Product details">
                    <i class="icon icon-pencil s-4"></i>
                </button>
            </td>
        </tr>

        
    </tbody>
</table>