<table id="" class="table dataTable">

    <thead class="thead-dark">

        <tr>

            <th>
                <div class="table-header">
                    <span>ID</span>
                </div>
            </th>

            <th>
                <div class="table-header">
                    <span>Referral Code</span>
                </div>
            </th>

            <th>
                <div class="table-header">
                    <span>Buddies</span>
                </div>
            </th>

            <th>
                <div class="table-header">
                    <span>Earnings</span>
                </div>
            </th>

            <th>
                <div class="table-header">
                    <span>Commission (%)</span>
                </div>
            </th>

            <th>
                <div class="table-header">
                    <span>Signup Rate</span>
                </div>
            </th>

            <th>
                <div class="table-header">
                    <span>Status</span>
                </div>
            </th>

            <th>
                <div class="table-header">
                    <span class="column-title">Message</span>
                    
                </div>
            </th>


            <th>
                <div class="table-header">
                    <span class="column-title">Actions</span>
                </div>
            </th>

        </tr>

    </thead>



    <tbody>

    {% for code in object_list %}

        <tr>

            <td>{{ code.id }}</td>

            <td >
                <a href="{% url 'mlm:code_details' pk=code.id %}" class="btn btn-outline-info text-wrap " style='width: 16rem;'>{{ code.token }}</a>
            </td>

            <td>
                <a class="nav-item" href="{% url 'mlm:code-buddy-list' pk=code.id %}">
                    <span>{{ code.users_count }}</span>
                    <i class="icon s-4 icon-eye-outline"></i>
                </a>
                             
            </td>

            <td>
                <span >Not Set</span>
            </td>

            <td>
                <span >{{ code.commission }}</span>
            </td>
           
            <td>
                <span >Not Set</span>
            </td>
            
            <td>
                <span class='badge badge-success'>{{ code.status }}</span>
            </td>

            <td>
                               
                <button type="button" class="btn btn-sm btn-info btn-fab" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
                        <i class="icon icon-send"></i>
                </button>

            </td>
            
            <td>
                
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">View</a>
                        <a class="dropdown-item" href="#">Send message</a>
                        <a class="dropdown-item" href="#">Hold</a>
                    </div>
                </div>

            </td>

        </tr>

    {% empty %}

        <tr>
            <td colspan="9">
                No Referral code added yet..!
            </td>
        </tr>

    {% endfor %}
        

        
    </tbody>
    
</table>

