<table id="" class="table dataTable">

    <thead class="">


        <tr>
            <th>
                <div class="table-header">
                    <span>ID</span>
                </div>
            </th>
            <td>
                {{ object.id }}
            </td>
        </tr>
        <tr>
            <th>
                <div class="table-header">
                    <span>Code</span>
                </div>
            </th>
            <td>
                {{ object.token }}
            </td>
        </tr>
        <tr>
            <th>
                <div class="table-header">
                    <span>Commission</span>
                </div>
            </th>
            <td>
                {{ object.commission }}
            </td>
        </tr>
    <tr>
            <th>
                <div class="table-header">
                    <span>Total Buddies</span>
                </div>
            </th>
            <td>
                {{ object.users_count }}
            </td>
        </tr>
        <tr>
            <th>
                <div class="table-header">
                    <span>Signup Rate</span>
                </div>
            </th>
            <td>
                Net Set
            </td>
        </tr>
        <tr>
            <th>
                <div class="table-header">
                    <span>Earnings</span>
                </div>
            </th>
            <td>
               Net Set
            </td>
        </tr>


    </thead>




    
</table>

