{% load static %}

<div class="page-header light-fg d-flex flex-column justify-content-center justify-content-lg-end p-6" 
    style="height:15rem; min-height:15rem; max-height:15rem; ">

    <div class="flex-column row flex-lg-row align-items-center align-items-lg-end no-gutters justify-content-between">

        <div class="user-info flex-column row flex-lg-row no-gutters align-items-center">

            <img class="profile-image avatar huge mr-6" src="{{ user.candyuserprofile.avatar.url }}">

            <div class="name h2 my-6">{{ user.candyuserprofile.get_full_name }}</div>

        </div>

        <div class="actions row align-items-center no-gutters">

            <button type="button" class="btn btn-primary" aria-label="Follow">Follow</button>

            <button type="button" class="btn btn-secondary ml-2" aria-label="Send Message">Send Message</button>

        </div>

    </div>
</div>