{% extends "layouts/base.html" %}
{% load static %}


{% block pagestyle %}
{% endblock pagestyle %}

{% block body %}

<main>
    {% include 'includes/toolbar-top.html' %}
    <div id="wrapper">
        {% include 'includes/aside-left.html' %}
        <div class="content-wrapper">

            <div class="content custom-scrollbar">

                
            	{% block content %}{% endblock content %}
                                    

            </div>
        </div>
    </div>
</main>

{% endblock body %}

{% block pagescript %}
{% endblock pagescript %}